{{ $emojis := dict
    "caution" ":exclamation:"
    "important" ":grey_exclamation:"
    "note" ":information_source:"
    "tip" ":bulb:"
    "warning" ":information_source:"
  }}
  
  {{ if eq .Type "alert" }}
    <div class="alert alert-{{ .AlertType }}">
      <div class="header">
        {{ readFile (printf "/assets/icons/%s-icon.svg" .AlertType) | safeHTML }}
        <span>{{ title .AlertType }}{{ with .AlertTitle }} &dash; {{ . }}{{ end }}
        </span>
      </div>
        <p>{{ .Text }}</p>
    </div>
  {{ else }}
    <blockquote>
      {{ .Text }}
    </blockquote>
  {{ end }}